
.idea/.name
pythonconcepts/myfile.txt
pythonconcepts/.idea/inspectionProfiles/profiles_settings.xml
pythonconcepts/.idea/misc.xml
pythonconcepts/.idea/modules.xml
pythonconcepts/.idea/pythonconcepts.iml
pythonconcepts/.idea/vcs.xml
pythonconcepts/.idea/workspace.xml